/* select-checkbox */
table.dataTable thead th.select-checkbox {
  padding: 10px 10px;
  width: auto;
}

table.dataTable tbody td.select-checkbox {
  padding: 0px;
}

/* dt-control */
table.dataTable td.dt-control:before {
  color: #444;
  border: none;
  box-shadow: none;
  content: '▶';
  background: none;
}

table.dataTable tr.dt-hasChild td.dt-control:before {
  content: '▼';
  background: none;
}
